h1, h2 {

	color: #2980b9;
	position: relative;
	text-align: center;
}

h1{
	text-align: center;
}

h2{
	/*padding-right: 2px;*/
	text-align: center;
}

h3 {
	/*text-align: left;
	color: #3498db;*/
}



body {
	width: 100%;
}

.menu-item{
	padding-right: 2em;
}

#photo{
	float: left;
	padding-left: 20px;
}

#brain{
	/*margin: auto;
	float: center;
	text-align: center;*/
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width:550px;
}

span.williams {
	color:gray;
	padding-left:.3em;
}

#brain-text{
	/*padding-left: 3px;*/
}

#right-name{
	color: gray;
	padding-left: 1em;
}

#left-text{
	color: #2980b9;
}

#right-text{
	color: gray;
}

#right-brain{
	color: gray;
	padding-left: 1em;
}

#left-gallery{
	padding-left: 0.3em;
}

#right-gallery{
	padding-left: 0.9em;
}

#photo h4{
	/*padding-left: 20px;*/
}

p {
	text-align: left;
	/*padding-right: 200px;*/
}

div.toggler {cursor:pointer;}
div.toggler div { display:none; }


.gallery {
    width: 25em;
    margin: 2em auto;
}

.gallery-item {
    /*height: auto;
    width: 48.618784527%;*/
    /*float: left;*/
    display: inline-block;
    margin-bottom: 2em;
    position: relative;
}

    .gallery-item:first-child {
        margin-right: 2.762430939%;
    }

.gallery-item img {
    /*width: 100%;*/
}

.gallery-item:hover .img-title {
    /*opacity: 1;*/
}

.img-title {
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    /*opacity: 0;*/
    display: none; /* was 333v comment this out for CSS hover */
    background-color: #fff;
    /*transition: all 0.5s ease;*/
}

    .img-title h5 {
        position: absolute;
        top: 33%;
        width: 100%;
        text-align: center;
    }
