h1 {
	text-align: center;
	padding-right: 200px;
	color: #2980b9;
	position: relative;

}

h3 {
	text-align: left;
	color: #3498db;
}



body {
	padding-left: 40px;
}

#photo{
	float: left;
	padding-left: 20px;
}

#photo h4{
	padding-left: 20px;
}

p {
	text-align: left;
	padding-right: 200px;
}