html.dark {
  --dot-bg-color: #0d1117;
  --dot-color: #2f353c;
  --dot-mask-color: #000000;
}

html:not(.dark) {
  --dot-bg-color: #ffffff;
  --dot-color: #a5aeb850;
  --dot-mask-color: #ffffff;
}

.bg-dot::before {
  content: '';
  position: absolute;
  inset: 0;
  background:
    linear-gradient(90deg, var(--dot-bg-color) 1.375rem, transparent 1%) 50%,
    linear-gradient(var(--dot-bg-color) 1.375rem, transparent 1%) 50%,
    var(--dot-color);
  background-position: center center;
  background-size: 1.5rem 1.5rem;
  mask-image: linear-gradient(180deg, var(--dot-mask-color) 0%, var(--dot-mask-color) 80%, transparent 100%);
}
