@font-face {
  font-family: 'Valkyrie B';
  font-style: normal;
  font-weight: normal; /* 400 */
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/WOFF2/Valkyrie B/valkyrie_b_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Valkyrie B';
  font-style: italic;
  font-weight: normal; /* 400 */
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/WOFF2/Valkyrie B/valkyrie_b_italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Valkyrie B';
  font-style: normal;
  font-weight: bold; /* 700 */
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/WOFF2/Valkyrie B/valkyrie_b_bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Valkyrie B';
  font-style: italic;
  font-weight: bold; /* 700 */
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/WOFF2/Valkyrie B/valkyrie_b_bold_italic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Valkyrie B Caps';
  font-style: normal;
  font-weight: normal; /* 400 */
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/WOFF2/Valkyrie B Caps/valkyrie_b_caps_regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Valkyrie B Caps';
  font-style: normal;
  font-weight: bold; /* 700 */
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/WOFF2/Valkyrie B Caps/valkyrie_b_caps_bold.woff2')
    format('woff2');
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: #161b22 !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html.dark {
  color-scheme: dark;
}

html:not(.dark) {
  color-scheme: light;
}

html {
  --color-divider: #bbb; /* Define divider color */
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #888;
  opacity: 0.75;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

img {
  --at-apply: rd-1.5;
}

article {
  --at-apply: sm: min-h-38 min-h-28;
}

.prose-link i {
  --at-apply: text-sm mr-1;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

html.dark::view-transition-old(root) {
  z-index: 2147483646;
}
html.dark::view-transition-new(root) {
  z-index: 1;
}

body {
  font-family: 'Valkyrie B', sans-serif;
}

h1 {
  font-family: 'Valkyrie B Caps', sans-serif;
  font-weight: bold; /* 700 */
  font-style: normal;
}
