.prose {
  --at-apply: mb-8 max-w-none sm: min-h-50vh min-h-38vh;
  font-size: 1.0625rem;      /* 17px - optimal for reading */
  line-height: 1.65;         /* Tighter, more elegant (was 1.8) */
  letter-spacing: -0.003em;  /* Subtle tightening for body text */
}
.prose a {
  --at-apply: prose-link;
}
.prose strong {
  font-weight: 700;
}
.prose ol[type='A'] {
  --list-counter-style: upper-alpha;
}
.prose ol[type='a'] {
  --list-counter-style: lower-alpha;
}
.prose ol[type='A s'] {
  --list-counter-style: upper-alpha;
}
.prose ol[type='a s'] {
  --list-counter-style: lower-alpha;
}
.prose ol[type='I'] {
  --list-counter-style: upper-roman;
}
.prose ol[type='i'] {
  --list-counter-style: lower-roman;
}
.prose ol[type='I s'] {
  --list-counter-style: upper-roman;
}
.prose ol[type='i s'] {
  --list-counter-style: lower-roman;
}
.prose ol[type='1'] {
  --list-counter-style: decimal;
}
.prose ol > li {
  position: relative;
  padding-left: 1.75em;
}
.prose ol > li::before {
  content: counter(list-item, var(--list-counter-style, decimal)) '.';
  position: absolute;
  font-weight: 400;
  color: #6b7280;
  left: 0;
}
.prose ul > li {
  position: relative;
  padding-left: 1.75em;
}
.prose ul > li::before {
  content: '';
  position: absolute;
  background-color: #d1d5db;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: calc(0.875em - 0.1875em);
  left: 0.25em;
}
.prose hr {
  border-color: rgba(125, 125, 125, 0.3);
  margin-top: 3em;
  margin-bottom: 3em;
}
.prose blockquote {
  font-weight: 400;
  font-style: italic;
  color: inherit;
  background: rgba(0, 0, 0, 0.02);
  border-left: 3px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 0.375rem 0.375rem 0;
  quotes: '\201C' '\201D' '\2018' '\2019';
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em 1.5em;
}
:is(.dark) .prose blockquote {
  background: rgba(255, 255, 255, 0.02);
  border-left-color: rgba(255, 255, 255, 0.15);
}
.prose blockquote p:first-of-type::before {
  content: open-quote;
}
.prose blockquote p:last-of-type::after {
  content: close-quote;
}
.prose > h1:first-child { /* Increased specificity */
  font-weight: 400;        /* Elegant, lighter weight */
  font-size: 2.25em;
  margin-top: 0.75em;
  margin-bottom: 1.25em;   /* More breathing room */
  line-height: 1.15;
}
.prose h2 {
  font-weight: 500;        /* Refined from 700 */
  font-size: 1.5em;
  margin-top: 2.5em;       /* More separation */
  margin-bottom: 1em;
  line-height: 1.3;
}
.prose h3 {
  color: inherit;
  font-weight: 500;        /* Refined from 700 */
  font-size: 1.25em;
  margin-top: 2em;
  margin-bottom: 0.75em;
  line-height: 1.5;
  /* Removed opacity: 0.7 for clearer hierarchy */
}
.prose h4 {
  color: inherit;
  font-weight: 500;
  font-size: 1.125em;
  margin-top: 1.75em;
  margin-bottom: 0.5em;
  line-height: 1.4;
}
.prose h5 {
  color: inherit;
  font-weight: 500;
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.4;
  /* Removed opacity: 0.6 for clearer hierarchy */
}
.prose figure figcaption {
  color: #6b7280;
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}
.prose code {
  font-weight: 400;
  font-size: 0.875em;
}
.prose code::before {
  content: '`';
}
.prose code::after {
  content: '`';
}
.prose a code {
  color: #111827;
}
.prose pre {
  color: #e5e7eb;
  overflow-x: auto;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-right: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-left: 1.1428571em;
}
.prose pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
.prose pre code::before {
  content: none;
}
.prose pre code::after {
  content: none;
}
.prose table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}
.prose thead {
  font-weight: 700;
  border-bottom-width: 1px;
  border-bottom-color: #8882;
}
.prose thead th {
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}
.prose tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: #8882;
}
.prose tbody tr:last-child {
  border-bottom-width: 0;
}
.prose tbody td {
  vertical-align: top;
  padding-top: 0.5714286em;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}
.prose p {
  margin-top: 1.5em;       /* More breathing room */
  margin-bottom: 1.5em;
}
.prose img {
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose video {
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose figure {
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose figure > * {
  margin-top: 0;
  margin-bottom: 0;
}
.prose h2 code {
  font-size: 0.875em;
}
.prose h3 code {
  font-size: 0.9em;
}
.prose ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  list-style-type: none;
}
.prose ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  list-style-type: none;
}
.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.prose > ul > li p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.prose > ol > li > *:first-child {
  margin-top: 1.25em;
}
.prose > ol > li > *:last-child {
  margin-bottom: 1.25em;
}
.prose ul ul,
.prose ul ol,
.prose ol ul,
.prose ol ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.prose hr + * {
  margin-top: 0;
}
.prose h2 + * {
  margin-top: 0;
}
.prose h3 + * {
  margin-top: 0;
}
.prose h4 + * {
  margin-top: 0;
}
.prose h5 + * {
  margin-top: 0;
}
.prose h6 {
  text-transform: uppercase;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  font-weight: 500;
  font-size: 0.875em;
  letter-spacing: 0.05em;
  color: inherit;
  /* Removed opacity for clearer hierarchy */
}
.prose thead th:first-child {
  padding-left: 0;
}
.prose thead th:last-child {
  padding-right: 0;
}
.prose tbody td:first-child {
  padding-left: 0;
}
.prose tbody td:last-child {
  padding-right: 0;
}
.prose > :first-child {
  margin-top: 0;
}
.prose > :last-child {
  margin-bottom: 0;
}
.prose em {
  color: inherit;
}

/* Override prose styles for PovBlock carousel */
#pov-block-carousel .carousel {
  list-style-type: none !important;
  padding-left: 0 !important;
  margin-top: 0 !important; /* Reset prose margins */
  margin-bottom: 0 !important; /* Reset prose margins */
}

#pov-block-carousel .carousel > li {
  padding-left: 0 !important; /* Reset prose padding */
  margin-top: 0 !important; /* Reset prose margins */
  margin-bottom: 0 !important; /* Reset prose margins */
}

#pov-block-carousel .carousel > li::before {
  content: none !important; /* Remove bullet point */
}

